@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --zup-bordo: #4a1f2e;
  --zup-bordo-light: #6e3a4d;
  --zup-gray-dark: #2a2a2a;
  --zup-gray-light: #d5d5d5;
  --zup-accent: #f0533f;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  @apply bg-zupGrayDark text-zupGrayLight h-screen m-0 p-0 font-sans antialiased;
}

a {
  @apply text-zupAccent hover:text-zupBordoLight transition-colors;
}

button {
  @apply rounded-lg px-4 py-2 font-medium bg-zupBordo text-zupGrayLight hover:bg-zupBordoLight hover:text-white transition;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-bold;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
